
<form action="/orders/location" method="get"> 
	<h1>Where are you?</h1>
 <input type="text" name="city">
 <h1> Cafe name: </h1> 
 <input type="text" name="restaurant">

 <input type="submit" value="search">
</form>


