<p>ORDER ORDER ORDER ORDER ORDER</p>

<p>THis is an order</p>

<% if session[:user_id] && session[:user_id] == @order.user_id %> 
	<form actions="/order/<%= @order.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Order">
	</form>
<%end%>